<h2>Toasts</h2>
<ul class="toasts">
    <li *ngFor="let toast of toasts"
        (click)="onSelect(toast)"
        [class.selected]="toast === selectedToast">
        <span class="badge">{{toast.id}}</span> {{toast.name}}
    </li>
</ul>

<div *ngIf="selectedToast">
    <h2>{{selectedToast.name | uppercase}} Details</h2>
    <div><span>id: </span>{{selectedToast.id}}</div>
    <div>
        <label>name:
            <input [(ngModel)]="selectedToast.name" placeholder="name">
        </label>
    </div>
</div>