.top {
    top: 0;
}

.right {
    right: 0;
}

.left {
    left: 0;
}

.bottom {
    bottom: 0;
}

.overlay {
    z-index: 2;
    position: fixed;
}

.button-drag {
    width: 50%;
    text-align: center;
    background: #404040;
    opacity: 0.8;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 20px;
    padding-left: 5px;
    padding-bottom: 20px;
}

.disable-text-selection {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}