/* You can add global styles to this file, and also import other style files */

h1 {
    color: #3ADA3A;
    font-family: Arial, sans-serif;
    font-size: 250%;
}

h2, h3 {
    color: #FCFCFC;
    font-family: Arial, sans-serif;
    font-weight: lighter;
}

body {
    background: #030303;
    margin: 2em;
}

body, input[type="text"], button {
    color: #FCFCFC;
    font-family: Verdana;
}

{
    font-family: Helvetica, sans-serif;
}